@model IASI_IntelligentIndustrialSolutions.Models.Previsao

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Edit</h1>

<h4>Previsao</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="IdPrevisao" />
            <div class="form-group">
                <label asp-for="Data" class="control-label"></label>
                <input asp-for="Data" class="form-control" />
                <span asp-validation-for="Data" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Descricao" class="control-label"></label>
                <input asp-for="Descricao" class="form-control" />
                <span asp-validation-for="Descricao" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Temperatura" class="control-label"></label>
                <input asp-for="Temperatura" class="form-control" />
                <span asp-validation-for="Temperatura" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Umidade" class="control-label"></label>
                <input asp-for="Umidade" class="form-control" />
                <span asp-validation-for="Umidade" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="VelocidadeVento" class="control-label"></label>
                <input asp-for="VelocidadeVento" class="form-control" />
                <span asp-validation-for="VelocidadeVento" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DirecaoVento" class="control-label"></label>
                <input asp-for="DirecaoVento" class="form-control" />
                <span asp-validation-for="DirecaoVento" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PressaoAtmosferica" class="control-label"></label>
                <input asp-for="PressaoAtmosferica" class="form-control" />
                <span asp-validation-for="PressaoAtmosferica" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CondicaoMeteorologica" class="control-label"></label>
                <input asp-for="CondicaoMeteorologica" class="form-control" />
                <span asp-validation-for="CondicaoMeteorologica" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
