@{
    ViewData["Title"] = "Home Page";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="text-center">
    <h1 class="display-4">Welcome to IASI</h1>
    <p></a>.</p>
</div>

<div class="text-center mt-4">
    <h2>Navigate to Other Pages</h2>
    <p>
        <a asp-controller="Equipamento" asp-action="Index">Equipamentos</a> |
        <a asp-controller="Empresa" asp-action="Index">Empresas</a> |
        <a asp-controller="Consumo" asp-action="Index">Consumos</a>
    </p>
</div>
